.paginationContainer{
    display: flex;
    justify-content: center;
    gap: 3px;
    padding: 20px;
    flex-wrap: wrap;
    position: relative;
    left: 44%;
}
.prevBtn, .nextBtn{
    text-decoration: none;
}
.paginationContainer li{
    list-style: none;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 300px;
    color: black;
}
.paginationContainer li:hover{
    background-color: #ddd;
}
.paginationContainer li.activePagination{
    background-color: #ffe6cc
}
.activePagination:hover{
background-color: yellow;
}
.activePagination a{
    color: black;
}